<div class="resultCard" style="background-color: 
    {{#if (eq this.class "gold"   )}} #FAFF09 {{/if}}
    {{#if (eq this.class "silver" )}} #E5E1E1 {{/if}}
    {{#if (eq this.class "bronze" )}} #9C7207 {{/if}}
    " tripId="{{this._id}}"
    {{!-- backgroundClass="{{this.class}}"> --}}
    <form action="/result" method="POST">
        <input type="hidden" name="tripId" value="{{this._id}}">
        <div class="from">
        Départ à {{this.date}}
        </div>
        
        <div class="to">
        Arrivée à 
        </div>

        {{!-- <div>
            <span class="classType"><span>Classe Gold</span>
        </div> --}}

        <div class="fly">
            {{this.duration}} de vol
        </div>
        <div class="basePrice">
            {{this.base_price.value}} {{this.base_price.currency}}
        </div>
    </div>
</form>