<h1 class="title">{{title}}</h1>

<div class="cart">
    {{#if cart}}
    <div class="planetImg">
        {{!-- <img src="{{cart.trip.to.image}}"> --}}
    </div>
    <ul>
        <li>_Id : {{cart.trip_id}}</li>
        <li>Départ : {{cart.trip.from.name}} </li>
        <li>Arrivé : {{cart.trip.to.name}}</li>
        <li>Date : {{#toShortDate cart.trip.date}}{{/toShortDate}}</li>
        <li>Passager : {{cart.passengers}}</li>
        <li>Bagages : {{cart.bags}}</li>
        <li>Prix : {{cart.price.value}}</li>
    </ul>
</div>
{{else}}
<div class="noTrip">
    <p>Choose a destination</p>
</div>
{{/if}}
</div>