{{#if user}}
<h1>Bienvenue {{user.pseudonyme}}</h1>
{{/if}}

<div class="homepage">
    <h1>Choix de votre destination</h1>

    <form action="javascript:void(0)">
        <div id="popUpWaiting">
            <img src="https://c.tenor.com/t0C2oHL_9NEAAAAC/star-wars-darth-vader.gif">
        </div>
        <div id="selectDestination">
            <label>Planète de départ :</label>
            <select id="from">
                {{#each planets}}
                <option value="{{_id}}" name="from">{{name}}</option>
                {{/each}}
            </select>

            <label for="from">Planète de destination :</label>
            <select id="to">
                {{#each planets}}
                <option value="{{_id}}" name="to">{{name}}</option>
                {{/each}}
            </select>
            <div id="homePageInformation"></div>
            <button id="sendResult">Go Voyage !</button>
        </div>
    </form>
    <div class="enigme">
        <a href="https://benamzz.github.io/Star-Wars-Is-Coming/"><img
                src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658854591/StarStonks/classesPage/background_img/lune_f86gyd.png"
                alt=""></a>
    </div>
</div>

<div class="planete">
    <ul>
        <li>

            <a href="/Terre"><img
                    src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777562/StarStonks/Terre_rhpaep.png"
                    alt="Terre"></a>
        </li>
        <li>

            <a href="/Tatooine"><img
                    src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777671/StarStonks/tatooine_yrd8rb.png"
                    alt="Tatooine"></a>
        </li>
        <li>

            <a href="/Mustafar"><img
                    src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658855601/mustafar1_lvt3w7.png"
                    alt="Mustafar"></a>
        </li>
        <li>

            <a href="/Korriban"><img
                    src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658778810/mustafar_1_nmc3ih.png"
                    alt="Karriban"></a>
        </li>
        <li>

            <a href="/LolaSayu"><img
                    src="https://res.cloudinary.com/dxwvgsbzq/image/upload/v1658777919/lola_sayu_sabeam.png"
                    alt="Lola Sayu"></a>
        </li>
    </ul>
</div>

<script src="/js/homepage.js"></script>