<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>

    <!-- Primary Meta Tags -->
  <meta name="title" content="Star Stonks">
  <meta name="description" content="Reservez vos tickets de voyage spacial avec Star Stonks.
  Voyez la vie en stonks.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://metatags.io/">
  <meta property="og:title" content="Star Stonks">
  <meta property="og:description" content="Reservez vos tickets de voyage spacial avec Star Stonks.
  Voyez la vie en stonks.">
  <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://metatags.io/">
  <meta property="twitter:title" content="Star Stonks">
  <meta property="twitter:description" content="Reservez vos tickets de voyage spacial avec Star Stonks.
  Voyez la vie en stonks.">
  <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <div id="navMobile">
      <div id="navMin">
        <a href="/"><img src="https://res.cloudinary.com/shalltear/image/upload/v1658785932/Project%202/public/Logo2_uusmkb.png"
          id="navLogo"></a>
        <div id="navCartHamburger">
          {{#if user}}
            {{#if user.avatarUrl}}
              <a href="/auth/profile"><img src="{{user.avatarUrl}}" class="navIcon"></a>
            {{else}}
              <a href="/auth/profile"><img
                src="https://res.cloudinary.com/shalltear/image/upload/v1658785651/Project%202/public/defaultAvatar_ezlpxu.png"
                class="navIcon"></a>
            {{/if}}
          {{/if}}
          <a href="/cart"><img src="https://res.cloudinary.com/shalltear/image/upload/v1658592888/Project%202/public/cart_gzmrmy.png"
            class="navIcon"></a>
          <img src="https://res.cloudinary.com/shalltear/image/upload/v1658593774/Project%202/public/hamburger_ippbcd.png"
            class="navIcon" id="hamburger">
        </div>
      </div>
      <div id="navMax">
        {{> hamburger}}
      </div>
    </div>

    <div id="navDesktop">
      <div id="navMin">
        <a href="/"><img src="https://res.cloudinary.com/shalltear/image/upload/v1658785932/Project%202/public/Logo2_uusmkb.png"
          id="navLogo"></a>

        <div id="navDesktopCenter">
          <a href="/classes">Classes</a>
          <a href="/Application">Application</a>
        </div>
        <div id="navCartHamburger">
          <a href="/cart"><img src="https://res.cloudinary.com/shalltear/image/upload/v1658592888/Project%202/public/cart_gzmrmy.png"
            class="navIcon"></a>
            <div id="hamburgerDesktop">
              {{#if user}}
                <div>
                  <a href="/auth/profile">
                    {{#if user.avatarUrl}}
                      <img src="{{user.avatarUrl}}" class="navIcon" id="avatarDesktop">
                    {{else}}
                      <img src="https://res.cloudinary.com/shalltear/image/upload/v1658785651/Project%202/public/defaultAvatar_ezlpxu.png"
                      class="navIcon" id="avatarDesktop">
                    {{/if}}
                    <img src="https://res.cloudinary.com/shalltear/image/upload/v1660910428/Project%202/public/chevron_qupgmz.png" id="chevron">
                  </a>
                </div>
                <a href="/auth/profile">{{user.pseudonyme}}</a>
              {{else}}
                <div>
                  <img src="https://res.cloudinary.com/shalltear/image/upload/v1658785651/Project%202/public/defaultAvatar_ezlpxu.png"
                    class="navIcon" id="avatarDesktop">
                  <img src="https://res.cloudinary.com/shalltear/image/upload/v1660910428/Project%202/public/chevron_qupgmz.png" id="chevron">
                </div>
                <span>Connexion</span>
              {{/if}}
            </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="hamburgerDesktopOpen">
    {{> hamburgerDesktop}}
  </div>

  <div id="content">
    {{{body}}}
  </div>


  <footer>
    <ul>
      <li><a href="/application">Application</a></li>
      <li><a href="/classes">Classes de voyage</a></li>
      <li><p>© Star Stonks - Toutes droites reservés</p></li>
    </ul>
  </footer>

  <script src="/js/hamburgerMobile.js"></script>
  <script src="/js/hamburgerDesktop.js"></script>
</body>

</html>